doctype html
html(lang='en')
	head
		include includes/head
		link(rel='stylesheet', href='/css/rickshaw.min.css')
		link(rel='stylesheet', href='/css/rickshaw/detail.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='/socket.io/socket.io.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js')
		script(src='/js/moment.min.js')
		script(src='/js/rickshaw.min.js')
		script(src='/js/settings.js')
		script(src='/js/chart.js')
	body
		include includes/header
		h1.chart-title
			a.title(href='http://cooper.edu') 41 Cooper Sq 
			span #{setname}
		if description
			p.description #{description}
		#chart-container
			#y-axis
			#chart
			#side
				#data
					#legend
					#last-update
						.display
							.name Last Update
							#last-date.value N/A
							#last-time.value
					#current-data
				#controls
					form#offset-form.toggler
						section.form-section
							em.form-section-title real-time
							br
							input(type='radio', name='elapsed', value='two-hours', checked='checked')
							label(for='two-hours') two hours
							br
							input(type='radio', name='elapsed', value='six-hours')
							label(for='six-hours') six hours
							br
							input#pause(type='button', data-paused='false', value='pause')
							br
						section.form-section
							em.form-section-title static
							br
							input(type='radio', name='elapsed', value='twentyfour-hours')
							label(for='twentyfour-hours') 24 hours
							br
							input(type='radio', name='elapsed', value='two-weeks')
							label(for='two-weeks') two weeks
							br
							input(type='radio', name='elapsed', value='two-months')
							label(for='two-months') two months
							br
							input(type='radio', name='elapsed', value='one-year')
							label(for='one-year') one year
							br
						section.form-section
							input#download(type='button', value='download')
				if message
					p.message #{message}
		footer Created by #[a(href='//ericleong.me') Eric Leong] with partial support from the National Science Foundation under #[a(href='//www.nsf.gov/awardsearch/showAward?AWD_ID=1044830') grant no. DUE 104483]
		if disable
			script.
				new dashChart(host, !{points}, !{elapsed}, !{disable}, '!{unit}', '!{min}' == '0' ? 0 : '!{min}');
		else
			script.
				new dashChart(host, !{points}, !{elapsed}, null, '!{unit}', '!{min}' == '0' ? 0 : '!{min}');